/* Fazer a responsividade dos carrosseis */

body {
    width: 100%;
}

header .ImagemHeader {
    display: flex;
}

.login-button {
    background-color: white;
    color: black;
    font-size: 1.rem;
    font-weight: bold;
    padding: 0.8rem 1.5rem;
    border-radius: 5.5rem;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    transition: 0.3s ease-in-out;
    background-color: lightgreen;
}

.navbar-toggler {
    border: none;
    color: white;
    font-size: 1.45rem;
}

.navbar-toggler-icon {
    display: flex;
    align-items: center;
    border: none;
    position: relative;
    bottom: 7px;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: white;
    font-weight: 500;
    font-size: 1.7rem;
}

.nav-link:hover,
.nav-link:active {
    color: lightgreen;
}

@media(min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0.4vh;
        background-color: lightgreen;
        visibility: hidden;
        transition: 0.2s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

.ImagemHeader {
    width: 8rem;
    height: auto;
    max-width: 100%;
    background-color: white;
    border-radius: 50%;
    border: 1px solid;
    border-color: gray;
}

.navbar {
    background-color: #0099cc;
    height: 20%;
}

.Icons {
    margin-right: 3%;
    width: 2rem;
    height: 2rem;
}

/* ==================================== CARROSEL ==================================== */

/*Primeiro Carrosel*/


.Imagens {
    max-height: 55.7vh;
    margin-top: 2.5vh;
}

.Setas {
    display: inline-block;
    position: absolute;
    padding: 80px;
    max-width: 6vw;
    max-height: 220vh;
    height: auto;
}

.carousel-control-prev-icon {
    color: black;
    border-radius: 20px;
    background-color: black;
    border: 2px solid black;
    opacity: 100%;
}

.carousel-control-next-icon {
    color: black;
    border-radius: 20px;
    background-color: black;
    border: 2px solid black;
    opacity: 100%;
}

.SlidesInicio {
    position: relative;
    top: 50px;
}


/*Segundo Carrosel*/

#SlidesProdutos {
    margin-top: 2.5vh;
    padding: 0 15px;
}

.TituloProdutos {
    margin-bottom: 50px;
    margin-left: 1%;
    font-size: 2rem;

}

.card-img-top {
    position: relative;
    left: 30%;
    width: 4vw;
    height: 12vh;
}

.card {
    width: 16rem;
    height: auto;
    padding: 1em;
    font-size: 1rem;
}

.grupo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 30s infinite linear;
}

.carrosselProdutos {
    display: flex;
    margin-right: 1%;
    margin-left: 8%px;
    width: 100%;
    overflow-x: auto;
    gap: 1em;
    padding-right: 1em;
}

.carrosselProdutos::-webkit-scrollbar {
    display: none;
}

@keyframes spin {
    from {
        translate: 0;
    }

    to {
        translate: -100%;
    }

}

/* ==================================== FOOTER ==================================== */

.footer {
    background-color: #0099cc;
    margin-top: 3%;
}

.copyright {
    background-color: seagreen;
    color: white;
}

.copyright a {
    color: white;
}

.Social {
    display: flex;
    justify-content: start;
    align-items: center;
}

.Redes {
    width: 40px;
    height: auto;
    margin-right: 8px;
}

.RedesTexto {
    font-size: 1.3rem;
    font-weight: 300px;
}

#Aplicativo {
    border-radius: 20px;
}